{% extends 'base.html'  %}
{% block title %}Edit Post{% endblock %}

{% block h2 %}Edit Post{% endblock%}
{% block content %}
<form action="/posts/{{post.id}}/edit" method="POST">
	<label for="title">Title</label>
	<input type="text" required name="title" value="{{post.title}}"><br>
	<label for="content">Content</label>
  <textarea required rows="4" cols="50" name="content">{{post.content}}</textarea><br>

	<p>
		{% for tag in tags %}
		<input type="checkbox" name="post-tags" {{tag.check}} value="{{tag.id}}">
		<label for="post-tags"> {{tag.name}}</label><br>
		{% endfor %}
	</p>

	<button class="cancel" formaction="/posts/{{post.id}}" formmethod="GET">Cancel</button>
  <button class="g-button">Save</button>
</form>
{% endblock %}