{% extends 'base.html'  %}
{% block title %}{{post.title}}{% endblock %}

{% block h2 %}{{post.title}}{% endblock%}
{% block content %}
<p>{{post.content}}</p>
<p><i>By {{post.user.full_name}}</i></p>

<span><b>Tags:</b>
	{% for tag in post.tags %}
	<a class="tag" href="/tags/{{tag.id}}"><i>{{tag.name}}</i></a>
	{% endfor %}
</span>

<Form>
	<button class="cancel" formaction="/users/{{post.user.id}}">Back</button>
	<button class="b-button" formaction="/posts/{{post.id}}/edit">Edit</button>
	<button class="delete" formaction="/posts/{{post.id}}/delete" formmethod="POST">Delete</button>
</Form>
{% endblock %}